<!doctype>
<html>
<head>
  <title>Salary</title>
  <style>
  body { font-family: sans-serif; color: #888; padding: 30px 40px; }
  h1 { font-size: 18px; }
  .date { color: #333; }
  </style>
</head>

<body>
<h1>This month you will get your salary on <span class="date"><%= @full_date %></span></h1>
</body>

</html>
