<!doctype>
<html>
<head>
  <title>Salary</title>
  <style>
  body { font-family: sans-serif; color: #888; padding: 30px 40px; }
  h1 { font-size: 18px; }
  .date { color: #333; }
  .disclaimer { color: #f00; }
  </style>
</head>

<body>
<h1>This month you will get your salary on <span class="date"><%= @salary_date.strftime("%A, %d %B %Y") %></span></h1>
<p class="disclaimer">The calculated date is only an indication!</p>
</body>

</html>
